body.site {
  background-color: #FFFFFF;
  z-index: 1;
}

header.container-header {
  background-color: #FFCA06;
  color: #000000;
}
.info-box {
    width: 90%;
    display: flex;
    margin: 1% auto;
    flex-direction: column;
    align-content: space-between;
}

.problem-header .title {
flex: 3;
font-weight: 400;
font-size: 3vmin;
justify-content: space-around;
}
.problem-title {
  text-align: center;
    font-weight: 500;
    font-size: 4.5vmin;
}
.search-box {
  background-color: #FFFFFF;
  color: #000000;
  width: 85%;
  margin: 3% auto;
}

.panel-box {
    background-color: #FBFEF9;
    color: #000000;
    width: 55%;
    padding: 2%;
    border-radius: 0.1rem;
    margin: 5% auto;
    box-shadow: 0rem 0rem 1rem 0rem #70656359;
}

.add-box {
  background-color: #FFFFFF;
  color: #000000;
  width: 90%;
  margin: 3% auto;
}

.panel-box .js-calendar.open{
	z-index: 2;
}
.unsorted:after {
  display: inline-block;
  content:"";
  position: relative;
  left: 5%;
  width: 2.75vmin;
  height: 4.4vmin;
  vertical-align: middle;
  background: no-repeat url('../../com_catalogsystem/images/sort-solid.svg');
}
.sorted-asc:after {
  display: inline-block;
  content:"";
  position: relative;
  left: 5%;
  width: 2.75vmin;
  height: 4.4vmin;
  vertical-align: middle;
  background: no-repeat url('../../com_catalogsystem/images/caret-up-solid.svg');
}
.sorted-desc:after {
  display: inline-block;
  content:"";
  position: relative;
  left: 5%;
  width: 2.75vmin;
  height: 4.4vmin;
  vertical-align: middle;
  background: no-repeat url('../../com_catalogsystem/images/caret-down-solid.svg');
}
.rowoptions {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;

}
.rowoptions .control-group, .rowoptions .control-label, .rowoptions .controls  {
  flex: 1;
}
.control-label {
  flex: 1;
  color: #000000;
  flex: 1;
  font-size: 3.25vmin;
  font-weight: 600;
}
.panel-box fieldset {
    margin: 1em 0;
}
.control-group {
  display: flex !important;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  margin-top: 0.5% !important;
}
#checkcolumn > .control-group, .catalog_table > tbody > tr > td > .control-group{
  margin: auto;
}

.upload-label {
    flex: 1;
    color: #000000;
     flex: 1; 
     font-size: 3.25vmin;
     font-weight: 600;
}
.rowoptions .form-control {
  width: 50%;
}
.form-control {
  border-radius: 0.6rem !important;
  font-size: 2.5vmin !important;
  padding: 0.75vw 1.5vmin !important;
}
.controls {
  flex: 3;
}
.choices {
  border-radius: 0.6rem !important;
  line-height: 1 !important;
  background-color: #FFFFFF;
  max-width: 100%;
}
.choices__item {
  font-size: 2.5vmin !important;
}
.choices__list--multiple .choices__item{
  background-color: #625A5A !important;
  color: #ffffff !important;
}
.choices__list {
  background-color: #ffffff;
  color: #717171;
  font-size: 2.5vmin !important;
}
.choices__inner {
  font-size: 2.5vmin !important;
  border-radius: 0.6rem !important;
  min-height: 100% !important;
  padding: 0.9vw 1.5vmin !important;
}

.choices__list--single {
    width: auto !important;
	
}
.choices__list.choices__list--single {
	
}
.choices__input {
  padding: 0 !important;
  font-size: 2.5vmin !important;
  line-height: 1 !important;
}

.rowoptions.schedulers .input-group {
  width: 85%;
}

.schedulers.addproblem, .schedulers.inputuse .input-group {
	width: 100% !important;
}
/*For schedulers*/
.schedulers .btn, .panel-box .field-calendar .btn{
  background-color: #ffca06 !important;
  border-color: #ffca06 !important;
  color: #ffffff;
  padding: 0.4em 0.8em;
}
.schedulers .form-control, .panel-box .field-calendar .form-control {
  border-radius: 0.6rem 0rem 0rem 0.6rem !important;
}
.form-check.form-check-inline {
	padding-left: 0 !important;
}
.submit-button {
    background-color: #FFCA06;
    border: none;
    font-weight: 500;
    border-radius: 0.5rem;
    margin: 3%;
    font-size: 3vmin;
    padding: 1% 10%;
}

.return-button {
    background-color: #FFCA06;
    border: none;
    font-weight: 600;
    border-radius: 0.5rem;
    margin-bottom: 1%;
    font-size: 2.5vmin;
    padding: 0.75% 2%;
}

#filter_clear {
  background-color: #F34213;
}

.end-content {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
}

.fileupload .control-group  {
  align-items: baseline !important;
}
.control-group .controls > br {
    display: none;
}
input[type="file"]::file-selector-button {
  border: 6px solid #FFCA06;
  overflow: hidden;
  padding: 0.2em 0.4em;
  border-radius: 0.2em;
  height: : 20%;
  background-color: #FFCA06 !important;
  color: #000000 !important;
  -webkit-user-select: none;
  cursor: pointer;
  font-weight: 400;
  font-size: 2.75vmin;
}

.custom-file-input:hover::before {
  border-color: black;
}
.details fieldset {
	margin-bottom: 0.3em !important;
}

@media (max-width: 650px) {
  .control-group:nth-last-child(-n+2) {
    flex: 1; /*ensures that textboxes stretches when wrapped*/
  }
}

.daynames.wk {
  color: #000000;
}

.buttons-wrapper .btn {
  color: #000000 !important;
}

.js-btn.btn-prev-month, .js-btn.btn-next-month, .js-btn.btn-prev-year, .js-btn.btn-next-year {
    color: #000000 !important;
	cursor: pointer;
}


.calendar-container table tbody td.day.selected {
  background: #FFCA06 !important;
}

.catalog_table {
  width: 100%;
  color: #000000;
  margin: 0% auto 1% auto;
  border-collapse: collapse;
  table-layout: fixed;
  letter-spacing: 1px;
  font: 400 2.75vmin sans-serif;
}

.catalog_table input[type = "checkbox"] {
    height: 3.1vmin;
    width: 3.1vmin;
	margin-right: auto;
    margin-left: auto;
    vertical-align: middle;
}

.catalog_table > tbody > tr:first-child {
  border-top: none !important;
}

#checkcolumn {
  width: 3em;
  cursor: default;
}

.form-check-input:checked {
    background-color: #4EA9D0 !important;
    border-color: #4EA9D0 !important;
}
#limit.form-select {
	width: 50% !important;
}
.page-item.active .page-link {
    color: #ffffff !important;
    background-color: #FFCA06 !important;
    border-color: rgba(88,88,95, 0.3)!important;
}
.page-link {
	color: #58585F !important;
}
.limit.form-select {
	max-width: 40%;
	
}
.catalog_table > thead >  tr > th {
  text-align: center !important;
  border-right: 0.15em solid #ffffff !important;
  background-color: #FFCA06;
  padding-top: 1%;
  padding-bottom: 1%;
  font: normal 3vmin sans-serif;
  word-wrap: break-word;
  /*prevents user from accidentally highlighting column due to constant clicking*/
  user-select: none;
  -webkit-user-select: none; /* For: Safari */
  -ms-user-select: none; /* For: IE 10+ */
}
.catalog_table > thead >  tr > th:hover {
  cursor: pointer;
}

.catalog_table > thead >  tr > th:last-child {
    border-right: none !important; /*last column does not have a white border*/
}

.catalog_table > thead > tr {
  border: none !important;
}


.catalog_table > tbody > tr {
  border: 1px rgba(0, 0, 0, 0.3) !important;
  border-style: solid none solid none !important;
}

.catalog_table > thead > tr > th > a {
	text-decoration: none;
	color: #000000
}
.catalog_table > tbody > tr > td {
  text-align: center;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  word-wrap: break-word;
}

#overlay {
  position: sticky; /* Sit on top of the page content */
  top: 0;
  left: 0;
  right: 0;
  bottom: 10%;
  z-index: 3; /* Specify a stack order in case you're using a different order for other elements */
}

.return-label, .add-label {
	cursor: pointer;
}
.return-label:before {
	right: 3%;
    width: 1.85vmin;
    height: 2.75vmin;
    vertical-align: middle;
    display: inline-block;
    content: "";
    position: relative;
	background: no-repeat url('../../com_catalogsystem/images/chevron-left-solid.svg');
}

.add-label:before {
    right: 3%;
    width: 2.65vmin;
    height: 3.5vmin;
    vertical-align: middle;
    display: inline-block;
    content: "";
    position: relative;
    background: no-repeat url('../../com_catalogsystem/images/plus-solid.svg');
}
.hidden {
  display: none !important;
}