.tables {
  display: flex;
  margin: 1% auto;
}

.history_table {
  flex: 1;
  margin: 1%;
}

.sets_table {
  flex: 1;
  margin: 1%;
}

.return-button {
    background-color: #FFCA06;
    border: none;
    font-weight: 600;
    border-radius: 0.5rem;
    margin-bottom: 1%;
    font-size: 2.5vmin;
    padding: 0.75% 2%;
}

.return-label, .add-label {
	cursor: pointer;
}
.return-label:before {
	right: 3%;
    width: 1.85vmin;
    height: 2.75vmin;
    vertical-align: middle;
    display: inline-block;
    content: "";
    position: relative;
	background: no-repeat url('../../com_catalogsystem/images/chevron-left-solid.svg');
}

.add-label:before {
    right: 3%;
    width: 2.65vmin;
    height: 3.5vmin;
    vertical-align: middle;
    display: inline-block;
    content: "";
    position: relative;
    background: no-repeat url('../../com_catalogsystem/images/plus-solid.svg');
}