body.site {
  background-color: #FFFFFF;
}

header.container-header {
  background-color: #FFCA06;
  color: #000000;
}

.info-box {
    width: 70%;
    display: flex;
    margin: 1% auto;
    padding: 1%;
    margin-bottom: 5%;
    flex-direction: column;
}

#category, #difficulty, #source, #pdf, #zip {
  flex: 1;
  padding-left: 3%;
  padding: 1%;
  margin: 1%;
  margin-left: 5%;
  margin-right: auto;
}
.problem-header {
  font-weight: 500;
  font-size: 3.5vmin;
  display: flex;
  width: 100%;
  padding-left: 1%;
  border: 0.5px rgba(0, 0, 0, 0.3) !important;
  border-style: none none solid none !important;
  align-items: center;
  flex-direction: row;
}

.title {
  flex:1;
  color: #000000;
  font-weight: 400;
  font-size: 5vmin;
}
.problem-header .title {
	flex: 3;
	color: #000000;
	font-weight: 400;
	padding: 1%;
	word-wrap: break-word;;
	margin-right: auto;
	font-size: 3.5vmin;
}
.tables {
  display: flex;
  margin-bottom: 2%;
  margin: 1% auto;
  width: 70%;
}

.history_table {
  flex: 1;
  margin: 1%;
}

.sets_table {
  flex: 1;
  margin: 1%;
}

.problem-title {
  text-align: center;
  font-weight: 600;
  font-size: 4.5vmin;
  padding-bottom: 3%;

}

.unsorted:after {
  display: inline-block;
  content:"";
  position: relative;
  left: 5%;
  width: 2.75vmin;
  height: 4.4vmin;
  vertical-align: middle;
  background: no-repeat url('../../com_catalogsystem/images/sort-solid.svg');
}
.sorted-asc:after {
  display: inline-block;
  content:"";
  position: relative;
  left: 5%;
  width: 2.75vmin;
  height: 4.4vmin;
  vertical-align: middle;
  background: no-repeat url('../../com_catalogsystem/images/caret-up-solid.svg');
}
.sorted-desc:after {
  display: inline-block;
  content:"";
  position: relative;
  left: 5%;
  width: 2.75vmin;
  height: 4.4vmin;
  vertical-align: middle;
  background: no-repeat url('../../com_catalogsystem/images/caret-down-solid.svg');
}

.catalog_table {
  width: 100%;
  color: #000000;
  margin: 0% auto 1% auto;
  border-collapse: collapse;
  table-layout: fixed;
  letter-spacing: 1px;
  font: 400 2.75vmin sans-serif;
}

.catalog_table input[type = "checkbox"] {
    height: 3vmin;
    width: 3vmin;
    vertical-align: middle;
}

.catalog_table > tbody > tr:first-child {
  border: none !important;
}

.catalog_table .checkcolumn {
  width: 6%;
  cursor: default;
}

.catalog_table > thead >  tr > th {
  text-align: center !important;
  border-right: 0.15em solid #ffffff !important;
  background-color: #FFCA06;
  padding-top: 1%;
  padding-bottom: 1%;
  font: normal 3vmin sans-serif;
  word-wrap: break-word;
  /*prevents user from accidentally highlighting column due to constant clicking*/
  user-select: none;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ */
}
.catalog_table > thead >  tr > th:hover {
  cursor: pointer;
}

.catalog_table > thead >  tr > th:last-child {
    border-right: none !important; /*last column does not have a white border*/
}

.catalog_table > thead > tr {
  border: none !important;
}

.catalog_table > tbody > tr {
  border: 1px rgba(0, 0, 0, 0.3) !important;
  border-style: solid none solid none !important;
}

.catalog_table > tbody > tr > td {
  text-align: center;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  word-wrap: break-word;
}

.return-button {
    background-color: #FFCA06;
	color: #000000;
    border: none;
    font-weight: 600;
    border-radius: 0.5rem;
    margin-bottom: 1%;
    font-size: 2.5vmin;
    padding: 0.75% 2%;
}

.return-button:hover {
    background-color: #BE9A35;
}

.return-label, .add-label {
	cursor: pointer;
}
.return-label:before {
	right: 3%;
    width: 1.85vmin;
    height: 2.75vmin;
    vertical-align: middle;
    display: inline-block;
    content: "";
    position: relative;
	background: no-repeat url('../../com_catalogsystem/images/chevron-left-solid.svg');
}

.add-label:before {
    right: 3%;
    width: 2.65vmin;
    height: 3.5vmin;
    vertical-align: middle;
    display: inline-block;
    content: "";
    position: relative;
    background: no-repeat url('../../com_catalogsystem/images/plus-solid.svg');
}

#pageloader
{
  display: none;
  z-index: 9999;
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.4);
}

.loader {
  animation: rotate 2s linear infinite;
  z-index: 99999;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  width: 100px;
  height: 100px;
}.path {
    stroke: rgba(98, 90, 90, 0.8);
    stroke-linecap: round;
    animation: spin 1.2s ease-in-out infinite;
  }

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

@media (min-width: 600px) and (max-width: 965px) and (orientation: portrait) {
	.tables {
		width: 100%;
	}
	.problem-title {
		font-size: 4.5vmin;
		padding-bottom: 3%;
	}
	.problem-header .title, #category, #difficulty, #source, #pdf, #zip  {
		font-size: 2.75vmin;
	}
	
	.control-label, upload-label {
		font-size: 4.25vmin;
	}

	.submit-button {
	    font-size: 2.75vmin;
	}

	.catalog_table {
		font: 400 2.5vmin sans-serif;
	}
	.catalog_table > thead > tr > th {
		font: normal 2.5vmin sans-serif;
	}
	.catalog_table input[type = "checkbox"] {
		height: 5vmin;
		width: 5vmin;
	}

	.choices__inner {
		font-size: 2.5vmin !important;
		border-radius: 0.5rem !important;
		padding: 1vw 1.75vmin !important;
	}
	.choices__input {
		font-size: 2.5vmin !important;
		line-height: 1 !important;
	}
	.choices__item {
    font-size: 2.5vmin !important;
 }
}

@media (max-width: 965px) and (orientation: landscape) {
	.tables {
		width: 100%;
	}
	.control-label, upload-label {
		font-size: 5.25vmin;
	}
	.problem-title {
		font-size: 5.5vmin;
		padding-bottom: 3%;
	}
	.problem-header .title, #category, #difficulty, #source, #pdf, #zip  {
		font-size: 3.5vmin;
	}
	.form-control {
		border-radius: 0.5rem !important;
		font-size: 4.75vmin !important;
		padding: 1vw 1.75vmin !important;
	
	}
	
	.schedulers .btn, .panel-box .field-calendar .btn {
		padding: 0em 1em;
	}
	.submit-button {
		font-size: 5vmin;
	}
	
	.catalog_table {
		font: 400 3vmin sans-serif;
	}
	.catalog_table > thead > tr > th {
		font: normal 3vmin sans-serif;
	}
	.catalog_table input[type = "checkbox"] {
		height: 5vmin;
		width: 5vmin;
	}
	.edit-label {
		width: 4.75vmin;
		height: 4.75vmin;
	}	
	.panel-box {
		width: 55%;
	}
	.form-check {
		font-size: 4.2vmin;
	}
	#overlay {
		bottom: 10%;
	}
	.return-button {
		font-size: 3.2vmin;
	}
	
	.add-label:before {
		width: 3.65vmin;
		height: 4.75vmin;
	}
	.return-label:before {
		width: 2.18vmin;
		height: 3.5vmin;
	}
	
	input[type="file"]::file-selector-button {
		font-size: 3.75vmin;
		padding: 1vmin 2vmin !important;
	}
	.form-control[type=file] .btn {
		font-size: 3.75vmin;
	}

}

@media (max-width: 600px){
	.tables {
		width: 100%;
	}
	
	.catalog_table {
		font: 400 2vmin sans-serif;
	}
	.catalog_table > thead > tr > th {
		font: normal 2.5vmin sans-serif;
	}
	.catalog_table input[type = "checkbox"] {
		height: 5vmin;
		width: 5vmin;
	}
}